@import url("reset.css");

* {
    overflow-x: hidden;
}

h1 {
    font-family: 'Lobster';
}

h2 {
    font-family: "Roboto Light";
}

nav {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vw;
    justify-content: space-between;
    background-color: #a38787;

    #logo {
        width: 35vw;
    }

    #burger {
        padding: 5vw;
        width: 10vw;
    }
}

.contentTop1 {
    overflow-y: hidden;

    .blueCircle {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 100%;
        height: 30vw;
        width: 30vw;
        background-color: #2cccc4;
        transform: translate(28vw, 15vw);
        z-index: 2;
    }

    .svgFirst {
        position: relative;
        width: 30vw;
        z-index: 3;
    }
}

div.bgimg {
    img {
        width: 130vw;
    }
}

main {
    z-index: 1;

    #first {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #2cccc4;
        padding: 25vw 0 10vw 0;

        .mainContent {
            border-radius: 25px;
            text-align: center;
            margin-top: 5vw;
            width: 70%;
            background-color: #fff;

            #firstCard {
                border-radius: 25px;
                position: absolute;
                top: 80vw;
                text-align: center;
                margin-top: 5vw;
                background-color: #fff;
                margin-bottom: 50vw;
            }

            #img1 {
                width: 300px;
            }
        }
    }

    #second {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 100%;

        .mainContent2 {
            text-align: center;
            margin-top: 5vw;
            width: 70%;
            height: 400px;
            background-color: #2a2323;

            .imgSecond {
                img {
                    width: 100%;
                }
            }

            #painBio {
                margin-top: 15px;
            }
        }
    }

    #third {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 100%;

        .mainContent3 {
            text-align: center;
            margin-top: 5vw;
            width: 60%;
            background-color: #9f7d7d;
        }
    }

    #fourth {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 100%;

        .mainContent4 {
            text-align: center;
            margin-top: 5vw;
            width: 60%;
            background-color: #849f7d;
        }
    }

    #fifth {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 100%;

        .mainContent5 {
            text-align: center;
            margin-top: 5vw;
            width: 60%;
            background-color: #849f7d;
        }
    }

    #sixth {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 100%;

        .mainContent6 {
            text-align: center;
            margin-top: 5vw;
            width: 60%;
            background-color: #849f7d;
            padding-bottom: 5vw;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-content: center;

                li {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    margin-right: 1vw;

                }
            }
        }
    }
}

footer {
    margin-top: 5vw;
    background-color: #3b3030;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 5vw;
}
